<h1>DASHBOARD</h1>

  <tbody>
    <% @invitations.each do |invitation| %>
      <tr>
        
        PROJECT: <td><%= invitation.title %></td>
        <td><%= invitation.description %></td>
        <td><%= link_to 'Edit', edit_invitation_path(invitation) %></td>
        <td><%= link_to 'Delete', invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

